/**
 * @author yiskang / http://github.com/yiskang
 */

/* General styling for the ribbon. */
#RibbonUI .ui-ribbon-main {
	height: 117px;
	cursor: default;
}

/* General styling for the tabs. */
#RibbonUI ul[role=ui-ribbon-tabs] {
	height: 24px;
}

#RibbonUI ul[role=ui-ribbon-tabs] li[role=ui-ribbon-tab] {
	height: 23px;
	line-height: 23px;
	padding-left: 12px;
	padding-right: 13px;
	margin-right: 4px;
	border: 1px solid transparent;
	border-bottom: 1px solid #D4D4D4;
}

#RibbonUI ul[role=ui-ribbon-tabs] li.ui-ribbon-active[role=ui-ribbon-tab] {
	border-color: #D4D4D4 #D4D4D4 #FFFFFF;
	border-style: solid;
	border-width: 1px;
}

/*
 * Styling for the content of the application tab. 
 */
#RibbonUI .ui-ribbon-tab-application-contents {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: white;
	display: none;
}

#RibbonUI ul[role=ui-ribbon-tabs] li.ui-ribbon-tab-application.ui-ribbon-active[role=ui-ribbon-tab] .ui-ribbon-tab-application-contents {
	display: block;
}

#RibbonUI .ui-ribbon-tab-application-contents #ribbon-nav-application-menu {
	float: left;
	color: #fff;
	width: 135px;
	height: 100%;
}

#RibbonUI .ui-ribbon-tab-application-contents #ribbon-nav-application-menu .ui-ribbon-title {
	position: absolute;
	color: black;
	width: 100%;
	text-align: center;
	height: 18px;
	margin-top: 2px;
	margin-bottom: 3px;
}

#RibbonUI .ui-ribbon-tab-application-contents #ribbon-nav-application-menu .ribbon-nav-back-arrow {
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	margin-left: 23px;
	margin-top: 19px;
}

#RibbonUI .ui-ribbon-tab-application-contents #ribbon-nav-application-menu ul[role=ribbon-nav-application-menu-items] {
	padding: 0;
	margin: 15px 0 0;
	list-style-type: none;
}

#RibbonUI .ui-ribbon-tab-application-contents ul[role=ribbon-nav-application-menu-items] li {
	line-height: 16px;
	padding: 11px 10px 11px 26px;
	vertical-align: middle;
}

#RibbonUI .ui-ribbon-tab-application-contents ul[role=ribbon-nav-application-menu-items] li.ui-ribbon-seperator {
	margin-bottom: -1px;
	display: block;
}

#RibbonUI .ui-ribbon-tab-application-contents ul[role=ribbon-nav-application-menu-items] li.ui-ribbon-seperator div.ui-ribbon-seperator {
	height: 1px;
}

#RibbonUI .ui-ribbon-tab-application-contents div[role=ribbon-nav-application-menu-content] {
	position: relative;
	overflow-y: scroll;
	height: 100%;
	margin-top: 23px;
}

#RibbonUI div[role=ribbon-nav-application-menu-content] .ribbon-content-area {
	position: absolute;
	color: black;
	margin-left: 40px;
	margin-top: 34px;
}

/* Styling for the content of the tabs. 
 * A tab contains various elements which are explained below:
 *		- tab-contents:	Contains the entire contents of the tab.
 *		- pnael:				Contains a single group of items. (A group has a legend and a seperator on the right).
 *		- button-group:	Contains a set of icons grouped by eachother. Button groups are needed when you're mixing a big and a small button inside the same group.
 *										Button icon group is placed next to eachother.
 */
#RibbonUI .ui-ribbon-tab-contents {
	left: 0px;
	color: #444444;
	height: 93px;
	width: 100%;
	display: none;
}

#RibbonUI ul[role=ui-ribbon-tabs] li.ui-ribbon-active[role=ui-ribbon-tab] .ui-ribbon-tab-contents {
	display: block;
}

#RibbonUI .ui-ribbon-panel-container {
	vertical-align: top;
}

#RibbonUI .ui-ribbon-panel {
	height: 91px;
	margin-top: 3px;
	vertical-align: top;
}

#RibbonUI .ui-ribbon-panel.ui-ribbon-empty {
	min-width: 45px;
}

#RibbonUI .ui-riibon-panel-single-btn {
	margin-left: 2px;
}

#RibbonUI .ui-ribbon-panel .ui-ribbon-panel-legend {
	bottom: 0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	width: 100%;
}

#RibbonUI .ui-ribbon-group {
	min-width: 42px;
	height: 89px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: top;
}

#RibbonUI .ui-ribbon-button-group {
	height: 89px;
	padding-top: 2px;
	margin-left: 4px;
	vertical-align: top;
}

#RibbonUI .ui-ribbon-button-arrow {
	bottom: 2px;
	left: 2px;
}

#RibbonUI .ui-ribbon-panel-seperator {
	background-color: #D4D4D4;
	height: 84px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 4px;
	width: 1px;
}

#RibbonUI .ui-ribbon-button-seperator {
	background-color: #D4D4D4;
	height: calc( 100% - 20px );
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	width: 1px;
}

/* Styling for the Tooltips. */
#RibbonUI .ui-ribbon-button-group a {
	position: relative;
}

#RibbonUI .ui-ribbon-tooltip {
	top: 89px;
	white-space: normal;
	box-shadow: 3px 3px 3px #E0E0E0;
	background-image: linear-gradient(#C6C6C6, #C6C6C6), linear-gradient(#C6C6C6, #C6C6C6);
	background-position: 0 0px, 100% 0;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	display: none;
	background-color: #ffffff;
	position: absolute;
	border: 1px solid #d4d4d4;
	left: 0px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	width: 180px;
}

#RibbonUI .ui-ribbon-tooltip p {
	line-height: 14px;
}

/**
 * Styles for tooltip showing fadely.
 */
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

#RibbonUI .ui-ribbon-tooltip-visible {
	display: block;
	-webkit-animation: fadeIn 3s;
	animation: fadeIn 3s;
}

/* Styling for the buttons in the tabs.
 * Two type of buttons can be placed on the ribbon.
 *		- small: An icon with a resolution of 16 x 16 pixels.
 *		- big:	An icon with a resolution of 32 x 32 pixels.
 */
#RibbonUI .ui-ribbon-button-small {
	height: 24px;
	padding-right: 5px;
	padding-left: 3px;
}

#RibbonUI .ui-ribbon-button-small > img {
	vertical-align: middle;
}

#RibbonUI .ui-ribbon-button-big {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	vertical-align: top;
}

#RibbonUI .ui-ribbon-button-big > img {
	height: 32px;
	width: 32px;
}

#RibbonUI .ui-ribbon-button-legend {
	line-height: 16px;
}

/* Styling for the buttons list in a button. */
#RibbonUI .ui-ribbon-button-menu {
	box-shadow: 0 0 0 #888888;
	left: 0px;
	z-index: 9999;
	display: none;
	cursor: default;
	min-width: 80px;
}

@-webkit-keyframes slideDown {
	from { height: 0; }
	to { height: 100%; }
}

@keyframes slideDown {
	from { height: 0; }
	to { height: 100%; }
}

#RibbonUI .ui-ribbon-button-menu.ui-ribbon-active {
	display: block;
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: 100ms;
	-webkit-animation-delay: 500ms;
	animation-name: slideDown;
	animation-duration: 100ms;
	animation-delay: 500ms;
}

#RibbonUI .ui-ribbon-button-menu-contents {
	padding: 1px 2px 1px 2px;
	background-color: #FFFFFF;
	background-image: linear-gradient(#C6C6C6, #C6C6C6), linear-gradient(#C6C6C6, #C6C6C6);
	background-position: 0 0px, 100% 0;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	border-bottom: 1px solid #C6C6C6;
	border-top: 1px solid #C6C6C6;
	box-shadow: 3px 3px 3px #E0E0E0;
}

#RibbonUI .ui-ribbon-button-menu-contents > ul li {
	height: 23px;
	line-height: 23px;
	list-style: none;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

#RibbonUI .ui-ribbon-button-menu-contents > ul li:not(.ui-ribbon-button-submenu) {
	padding-right: 20px;
}

#RibbonUI .ui-ribbon-button-menu-icon-holder {
	text-align: center;
	padding-top: 4px;
	width: 16px;
	height: 16px;
}

#RibbonUI .ui-ribbon-button-menu-icon-holder > img {
	width: 16px;
	height: 16px;
}

#RibbonUI .ui-ribbon-button-menu-title {
	height: 23px;
	line-height: 23px;
	vertical-align: top;
	padding-left: 5px;
}

#RibbonUI .ui-ribbon-button-menu-entry {
	font-size: 12px;
}

#RibbonUI .ui-ribbon-button-menu-entry > div:first-of-type {
	position: relative;
}

#RibbonUI .ui-ribbon-button-submenu-holder > div:first-of-type {
	margin-right: 25px;
}

#RibbonUI .ui-ribbon-button-submenu-arrow {
	position: absolute;
	width: 10px;
	right: 0px;
	top: 0px;
}

#RibbonUI .ui-ribbon-button-submenu-arrow .ui-ribbon-button-menu {
	top: -1px;
	left: 16px;
}

